/*
 * This stylesheet is always loaded before any theme-specific stylesheet.
 */

.table-row-cell > .table-cell:disabled {
  -fx-opacity: 0.4;
}

/* Custom */

.tags-tab:selected,
.tags-tab-title {
  -fx-font-weight: bold;
}

.tags-tab-title {
  -fx-font-size: 1.3em;
}
