.root {
  -fx-control-inner-background-alt: derive(-fx-control-inner-background, -10%);
}

Text {
  -fx-fill: -fx-mid-text-color;
}

Text.hyperlink {
  -fx-fill: #265F7F;
}

/* Make background of title panes opaque for better integration in list views */
.titled-pane {
  -fx-background: -fx-base;
}

/* Suggestions popup */

.suggestions-menu {
  -fx-border-color: derive(-fx-base, -30%);
}

.suggestions-menu-item:selected {
  -fx-text-fill: -fx-light-text-color;
}

/* Tag query highlighting */

.highlight-tag-query .text {
  -fx-fill: red;
}

.highlight-tag-query .ws {
}

.highlight-tag-query .tag {
  -fx-fill: -fx-mid-text-color;
}

.highlight-tag-query .pseudo-tag {
  -fx-fill: #1eb540;
}

.highlight-tag-query .flags {
  -fx-fill: #3e6ab1;
}

.highlight-tag-query .not,
.highlight-tag-query .or,
.highlight-tag-query .paren,
.highlight-tag-query .equal,
.highlight-tag-query .hash,
.highlight-tag-query .star {
  -fx-fill: #ff80ff;
  -fx-font-weight: bold;
}

.highlight-tag-query .string {
  -fx-fill: #9a8f37;
}

.highlight-tag-query .regex {
  -fx-fill: #d5335e;
}

/* Custom */

.text-field.invalid {
  -fx-background-color: #ff8989;
}

.video-player-controls {
  -fx-background-color: -fx-control-inner-background-alt;
}
